@import "~ant-design-vue/dist/antd.css";

.md-form-item.is-error {
  input {
    border-color: #ff3949;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.list-enter-active, .list-leave-active {
  transition: all .5s;
}

.list-enter, .list-leave-to
{
  opacity: 0;
  transform: translateY(30px);
}

.v-form {
  padding: 10px;
}
