@import "~ant-design-vue/dist/antd.css";

.md-form-item.is-error {
  input {
    border-color: #ff3949;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.list-enter-active, .list-leave-active {
  transition: all .5s;
}

.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.v-form {
  padding: 10px;
}

.v-theme-dark {
  color: rgba(255, 255, 255, 0.65);
  background: #001529;

  .ant-breadcrumb-separator,
  .ant-breadcrumb-link {
    color: rgba(255, 255, 255, 0.65);
  }

  .ant-breadcrumb {
    > span {
      &:last-child {
        .ant-breadcrumb-link {
          color: white;
        }
      }
    }
  }

  &.md-main-layout-breadcrumb {
    border-color: #4c4c4c !important;
  }
}

.ant-layout-sider-dark {
  &.md-main-menu-sider.ant-layout-sider {
    border: none !important;
  }
}

.v-theme-light {
  color: rgba(0, 0, 0, 0.65);
  background: #fff;
}

.v-theme-light.ant-drawer {
  background-color: transparent;
}

.v-theme-dark.ant-drawer {
  background-color: transparent;

  .ant-drawer-content {
    color: rgba(255, 255, 255, 0.65);
    background: #001529;
  }
}

.ant-drawer-body {
  padding: 0;
}

.md-pagination {
  padding: 10px;
  text-align: right;
}

.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active for below version 2.1.8 */
{
  transform: translateX(10px);
  opacity: 0;
}
