@import "transition";
@import "theme";

.md-container {
	padding: 10px;
	background: white;
}

.md-form-item.is-error {
	.ant-select-selection,
	.ant-input-number,
	input {
		border-color: #ff3949;
	}
}

.v-form {
	padding: 10px;
}

.ant-layout-sider-dark {
	&.md-main-menu-sider.ant-layout-sider {
		border: none !important;
	}
}

.ant-drawer-body {
	padding: 0;
}

.md-pagination {
	padding: 10px;
	text-align: right;
}

.ant-drawer-wrapper-body,
.ant-drawer-content-wrapper {
	max-width: 100%;
}

.ant-btn {
	margin-right: 5px;

	&:last-child {
		margin-right: 0;
	}
}

.md-scroll-bar {
	&::-webkit-scrollbar-track {
		background-color: #f8f8f8;
	}

	&::-webkit-scrollbar { //滚动条的宽度
		width: 9px;
		height: 9px;
	}

	&::-webkit-scrollbar-thumb { //滚动条的设置
		background-color: #dddddd;
		background-clip: padding-box;
		min-height: 28px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: #bbb;
	}
}

.md-link {
	cursor: pointer !important;
}

.text-center {
	text-align: center;
}

.md-form {
	.md-responsive-col {
		.md-form-item {
			width: 100%;
		}
	}
}

.md-block {
	width: 100% !important;
	display: block;
}